/*!
* stylesheet.css v1.0.21
*
* Copyright 2006-2021 Sevenuc Consulting
* http://www.sevenuc.com
*
*/

/*************************************************************************************/
/***  Copyright Notice                                                             ***/
/***  This colour scheme was originally created by Sevenuc Consulting              ***/
/***                                                                               ***/
/***  THIS FILE IS PART OF THE WEBSITE SEVENUC.COM, WITHOUT THE WRITTEN PERMISSION ***/
/***  OF THE AUTHOR THIS FILE MAY NOT BE USED FOR ANY COMMERCIAL PRODUCT.          ***/
/*************************************************************************************/


@charset "UTF-8";

html { height: 100%;}
body { background:#1a2024; }
html, body, button, input, select, textarea{ font-family: sans-serif; font-size: 14px;color: #9aaeb5}
h1, h2, h3, h4, h5, h6 { font-weight: 700; text-shadow: 1px 1px #444; color: #6799ff; display: block;}
.logo {height:42px;width:auto;vertical-align:middle;margin-top:4px;margin-right:10px;border: 1px rgba(255,255,255,0.6) solid;}
.logo:hover  { border: 1px #FFFFFF solid; }
a:link { color: #604dac; }
/*a:hover { text-decoration: none; }*/
/*a:focus { text-decoration: underline; }*/
a:visited { color: #336699; }
.headerimg { padding: 10px 10px 10px 10px;background: #f0f0f0;border: 1px rgba(255,255,255,0.6) solid; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}
pre { background: #e9ecef;max-width:100%; padding:4px 4px 4px 4px;line-break: auto;}
lt {color:#007f00;}
.none {  padding:0;  margin: 0; }
.dark {color:#7577a0;/*#303000*/ font-size: 12px;} /* #b397db */
.red {color:#cce619;}
.greenbig {color: #007f00;font-weight: 600;}
.hilight {color: #b397db;font-weight: 600;}
.green, gr, lt { color: #007f00;font-weight: bold;} /*rgb(0,255,0);*/
ltab { margin-left: 20px; }
.footer-link, a:link { color: #604dac; }
.donate { font-style: italic; font-size: small; color:#007f00;}
.bigtitle { font-size: 17.0em;}
.strike {text-decoration: line-through;}
/*.underline { text-decoration: underline; }*/
.underline { border-bottom:1px solid #4b5b69;}
.floatleft {float:left; margin-top:0.2em;margin-right:0.5em;margin-bottom:0.5em;}
.floatright {float:right; margin-top:0.2em;margin-left:0.5em;margin-bottom:0.5em;}
.smallicon { height:32px; width:auto; vertical-align:middle;margin-right:10px;}
.treasure { color: rgba(255, 0, 255, 0.5); font-size: 11px;font-style: italic; font-weight: bold; background: none; }
b, strong, .hilight {font-weight: bold;}
.warning {color:#ffc8c8; font-weight: bold;}
i, em {font-style: italic; }
img { background-color: transparent;border-width: 0px;max-width: 100%;}
hr { border: 1px dotted #9fa8b5; max-width: 714px; margin-left: 0px;}
.screenshots { max-width:100%; height:auto;margin-left: 0px; margin: 0 0 10 0; }
.tips { width:auto; height: 22px;}
.videobox {background:#111160;}
.screen {width:320px; height:auto;max-width:100%;}
.note {color:#ffffff; background:#FF4081; border-radius: 4px; padding:2px 2px 2px 2px;}
.button { width: auto; height: 16pt; vertical-align:middle;padding: 2px 2px 2px 2px;background: #f0f0f0;}
pre, .block { background:#22293c; color:#7577a0; font-style: italic; padding:10px 10px 10px 10px; border-radius: 4px; }
.small { font-style: italic; font-size: small; padding:4px 4px 4px 4px; border-radius: 2px; color:#7577a0;}
.appstore_download_link { display: block; float: left; width:224px; height:70px; text-indent: -5000px; overflow: hidden; margin-left: 0px; background: url(../images/appstore.png) no-repeat bottom right; }
.appstore_download_link:hover { background: url(../images/appstore.png) no-repeat top right; }
table { border: 1px solid #9fa8b5; margin-bottom: 10px; text-align: left; border-spacing: 0; border-collapse: collapse;}
th { text-align: center;font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif; padding: 10px; border: 1px solid #9fa8b5;}
table { max-width: 100%;}
table td { max-width:200px; text-align: left; padding:10px; border: 1px solid #9fa8b5; vertical-align:top;}
table img { display: block; width:auto;max-width:100%;}
form { background: #f2f2f2; padding: 10px; }
.carousel .carousel-indicators li { width: 10px; height: 10px; border-radius: 100%; }
.icon { margin: 0 1em 1em 0;width:96px;height:auto;padding: 4px 4px 4px 4px;border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px; vertical-align:center;}
.jumbotron, .lead { margin: 0 0 0 0; padding: 0 0 1em 0}
h1, h2, p, pre, li, .block, .block2, .carousel { max-width: 714px; }
footer { color:#687E91;border-top:1px solid #9fa8b5;font-size:small; margin-bottom:40px;}
footer img { padding-top: 4px; background: #111160;}


