/*!
* stylesheet.css v0.0.21
*
* Copyright 2006-2021 Sevenuc Consulting
* http://www.sevenuc.com
*
*/

@charset "UTF-8";

html { height: 100%;}
body { font-family: sans-serif;}
.container-fluid { max-width:64rem; }
pre, .block { background: #22293c; color: #fff; font-style: italic; font-size: small; border-radius: 4px; }
pre, .block { font-family: monospace; max-width:100%; padding: 8px 8px 8px 8px; line-break: auto; }
.icon { height:32px; width:auto; vertical-align:middle;margin-right:10px;}
.treasure { color: rgba(255, 0, 255, 0.5); font-size: 11px;font-style: italic; font-weight: bold; background: none; }
b, strong, .hilight {font-weight: bold;}
.warning { font-weight: bold;}
i, em {font-style: italic; }
w {color:#ffc8c8; font-weight: bold;}
hr { border: 0; border-top: 1px solid #9fa8b5; height: 1px; }
.tips { width:auto; height: 22px;}
.videobox { background:#ffffff; }
img { max-width: 100%;}
.extraimg { max-width: 320px; margin-left:0;}
.screen { width:320px; height:auto;max-width:100%;}
.screenshots { height:auto;margin-left: 0px; margin: 0 0 10 0; max-width: 100%;}
.appstore_download_link { display: block; float: left; width:224px; height:70px; text-indent: -5000px; overflow: hidden; margin-left: 0px; background: url(../images/appstore.png) no-repeat bottom right; }
.appstore_download_link:hover { background: url(../images/appstore.png) no-repeat top right; }
table { border: 1px solid #9fa8b5; margin-bottom: 10px; text-align: left; border-spacing: 0; border-collapse: collapse;}
th { text-align: center;font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif; padding: 10px; border: 1px solid #9fa8b5;}
table { width:63rem; max-width: 100%;}
table td { max-width:200px; text-align: left; padding:10px; border: 1px solid #9fa8b5; vertical-align:top;}
table img { display: block; width:auto;max-width:100%;}
.logo {height:42px;width:auto;vertical-align:middle;margin-top:4px;margin-right:10px; border: 1px rgba(255,255,255,0.6) solid;}
.logo:hover  { border: 1px #FFFFFF solid; }
footer { padding-bottom: 50px; border-top:1px solid #9fa8b5;font-size:small; font-style: italic; margin-bottom:40px; width: 100%; padding-right: 15px; }
footer img { padding-top: 4px; background: #0d1116;}

