<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tags</key>
	<array/>
	<key>multiLineComments</key>
	<array>
		<string>/*</string>
		<string>*/</string>
	</array>
	<key>singleLineComments</key>
	<array>
		<string>//</string>
	</array>
	<key>charStrings</key>
	<array>
		<string>&apos;</string>
		<string>&apos;</string>
	</array>
	<key>singleLineStrings</key>
	<array>
		<string>&quot;</string>
		<string>&quot;</string>
	</array>
	<key>multiLineStrings</key>
	<array/>
	<key>keywords</key>
	<array>
    <string>@</string>
    <string>define</string>
    <string>include</string>
    <string>glyphid</string>
    <string>unicode</string>
    <string>pos</string>
    <string>postscript</string>
    <string>env</string>
    <string>environment</string>
    <string>endenvironment</string>
    <string>endenv</string>
    <string>codepoint</string>
    <string>table</string>
    <string>endtable</string>
    <string>sub</string>
    <string>subs</string>
    <string>substitution</string>
    <string>positioning</string>
    <string>pass</string>
    <string>endpass</string>
    <string>ligature</string>
    <string>ligatures</string>
    <string>settings</string>
    <string>all</string>
    <string>min</string>
    <string>max</string>
    <string>std</string>
    <string>character</string>
    <string>glyph</string>
    <string>rule</string>
    <string>Bidi</string>
    <string>ascent</string>
    <string>ExtraAscent</string>
    <string>descent</string>
    <string>ExtraDescent</string>
    <string>AttributeOverride</string>
    <string>CodePage</string>
    <string>MUnits</string>
    <string>MaxRuleLoop</string>
    <string>MaxBackup</string>
    <string>PointRadius</string>
    <string>point</string>
    <string>top</string>
    <string>base</string>
    <string>bottom</string>
    <string>height</string>
    <string>left</string>
    <string>right</string>
    <string>width</string>
    <string>adv</string>
    <string>advance</string>
    <string>lab</string>
    <string>rsb</string>
    <string>bb</string>
    <string>boundingbox</string>
    <string>leftsidebearing</string>
    <string>rightsidebearing</string>
    <string>aw</string>
    <string>ah</string>
    <string>advancewidth</string>
    <string>advanceheight</string>
    <string>kern</string>
    <string>shift</string>
    <string>offset</string>
    <string>comp</string>
    <string>component</string>
    <string>string</string>
    <string>name</string>
    <string>feature</string>
    <string>default</string>
    <string>id</string>
    <string>value</string>
    <string>true</string>
    <string>false</string>
    <string>yes</string>
    <string>no</string>
    <string>style</string>
    <string>language</string>
    <string>languages</string>
    <string>feature-name</string>
    <string>language-group</string>
    <string>attach</string>
    <string>to</string>
    <string>at</string>
    <string>with</string>
    <string>level</string>
    <string>if</string>
    <string>else</string>
    <string>endif</string>
    <string>for</string>
    <string>context</string>
    <string>priority</string>
    <string>break</string>
    <string>lb</string>
    <string>linebreak</string>
    <string>breakweight</string>
    <string>ref</string>
    <string>reference</string>
    <string>dir</string>
    <string>directionality</string>
    <string>insert</string>
    <string>line</string>
    <string>underlying</string>
    <string>letters</string>
    <string>numbers</string>
    <string>justify</string>
    <string>stretch</string>
    <string>shrink</string>
    <string>incWidth</string>
    <string>step</string>
    <string>weight</string>
    <string>just</string>
    <string>JustifyMode</string>
    <string>gpath</string>
    <string>gpoint</string>
    <string>xoffset</string>
    <string>yoffset</string>
    <string>box</string>
	</array>
	<key>keywordsCaseInsensitive</key>
	<false/>
	<key>predefined</key>
	<array>
		<string>#include</string>
		<string>#define</string>
		<string>#if</string>
		<string>#endif</string>
	</array>
	<key>predefinedDelim</key>
	<array>
		<string>#define</string>
	</array>
	<key>attributesDelim</key>
	<array/>
	<key>variablesDelim</key>
	<array>
		<string>.</string>
	</array>
	<key>variablesDelimPartOfVar</key>
	<true/>
	<key>blocks</key>
	<array>
		<string>{</string>
		<string>}</string>
	</array>
	<key>coloringOnlyInBlocksAndTags</key>
	<false/>
	<key>isXMLbased</key>
	<false/>
	<key>indentionBlocks</key>
	<array/>
</dict>
</plist>
